@if(step === 1) {
<section class="mb-5">
  <form class="max-w-md mx-auto border-[1px] border-gray-300 rounded-lg bg-[#efeffa] p-5 " (ngSubmit)="stepOne()"
    [formGroup]="verifyEmail">
    <div class="relative z-0 w-full mb-5 group">
      <input formControlName="email" type="email" name="floating_email" id="floating_email"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" />
      <label for="floating_email"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
        {{'forgotPassword.Email address' | translate}}
      </label>
      @if(verifyEmail.get('email')?.errors && verifyEmail.get('email')?.touched || verifyEmail.get('email')?.dirty) {
      <div class="rounded-lg mt-2 bg-red-100 p-2">
        @if(verifyEmail.get('email')?.getError('required')) {
        <p>
          {{'forgotPassword.Email Required' | translate}}

        </p>
        }
        @else if(verifyEmail.get('email')?.getError('email')) {
        <p>
          {{'forgotPassword.Email should be: example&#64;example.com' | translate}}
        </p>
        }
      </div>
      }
    </div>
    @if (isSent) {
    <div class="rounded-lg mt-2 bg-green-300 p-2 mb-3">
      <p>{{mesaageSent}}</p>
    </div>
    }
    @if (isNotSent) {
    <div class="rounded-lg mt-2 bg-red-100 p-2 mb-3">
      <p>{{messageError}}</p>
    </div>
    }
    <button type="submit" [disabled]="verifyEmail.invalid"
      class="disabled:bg-gray-300 disabled:cursor-no-drop text-white block ms-auto bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      {{'forgotPassword.verify Email' | translate}}
      @if(isValid) {
      <i class="fa-solid fa-spin fa-spinner text-[20px] ms-2"></i>
      }
    </button>
  </form>
</section>
}
@if(step === 2) {
<section class="mb-5">
  <form [formGroup]="verifyCode" class="max-w-md mx-auto border-[1px] border-gray-300 rounded-lg bg-[#efeffa] p-5"
    (ngSubmit)="stepTwo()">
    <div class="relative z-0 w-full mb-5 group">
      <input formControlName="resetCode" type="text" name="floating_email" id="floating_email"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" />
      <label for="floating_email"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
        {{'forgotPassword.Code' | translate}}
      </label>
      @if (verifyCode.get('resetCode')?.errors && verifyCode.get('resetCode')?.touched &&
      verifyCode.get('resetCode')?.dirty) {
      <div class="rounded-lg mt-2 bg-red-300 p-2">
        @if(verifyCode.get('resetCode')?.getError('required')) {
        <p>
          {{'forgotPassword.Code Required' | translate}}
        </p>
        } @else if (verifyCode.get('resetCode')?.getError('pattern')) {
        <p>
          {{'forgotPassword.Code should contains 6 caracters' | translate}}
        </p>
        }
      </div>
      }
    </div>
    <button type="submit" [disabled]="verifyCode.invalid"
      class="disabled:bg-gray-300 disabled:cursor-no-drop text-white block ms-auto bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">

      {{'forgotPassword.verify Code' | translate}}

      @if(isValid) {
      <i class="fa-solid fa-spin fa-spinner text-[20px] ms-2"></i>
      }
    </button>

  </form>
</section>
}
@if(step === 3) {
<section class="mb-5">
  <form [formGroup]="resetPassword" class="max-w-md mx-auto border-[1px] border-gray-300 rounded-lg bg-[#efeffa] p-5"
    (submit)="stepThree()">
    <div class="relative z-0 w-full mb-5 group">
      <input readonly formControlName="email" type="email" name="floating_email" id="floating_email"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" />
      <label for="floating_email"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
        {{'forgotPassword.Email address' | translate}}
      </label>
      @if(resetPassword.get('email')?.errors && resetPassword.get('email')?.touched &&
      resetPassword.get('email')?.dirty) {
      <div class="rounded-lg mt-2 bg-red-300 p-2">
        @if(resetPassword.get('email')?.getError('required')) {
        <p>
          {{'forgotPassword.Email Required' | translate}}
        </p>
        }
        @if(resetPassword.get('email')?.getError('email')) {
        <p>
          {{'forgotPassword.Email should be: example&#64;example.com' | translate}}
        </p>
        }
      </div>
      }
    </div>
    <div class="relative z-0 w-full mb-5 group">
      <input formControlName="newPassword" type="password" name="floating_password" id="floating_password"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" " required />
      <label for="floating_password"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
        {{'forgotPassword.New password' | translate}}
      </label>
      @if(resetPassword.get('newPassword')?.errors && resetPassword.get('newPassword')?.touched) {
      <div class="rounded-lg mt-2 bg-red-300 p-2">
        @if(resetPassword.get('newPassword')?.getError('required')) {
        <p>
          {{'forgotPassword.Password Required' | translate}}
        </p>
        }
        @if(resetPassword.get('newPassword')?.getError('pattern')) {
        <p>
          {{'forgotPassword.Password should be more than 6 caracters' | translate}}
        </p>
        }
      </div>
      }
    </div>
    <button type="submit" [disabled]="resetPassword.invalid"
      class="disabled:bg-gray-300 disabled:cursor-no-drop text-white block ms-auto bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none  focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">{{'forgotPassword.Submit'
      | translate}}</button>
  </form>
</section>
}
