@if (detailsCat) {
  <section class="container max-w-screen-xl py-10 ">
    <figure class="overflow-hidden group relative border-[1px] rounded-lg  border-[#00f] w-3/4 md:w-1/3  mx-auto hover:shadow-md hover:shadow-[#4a4a91] duration-300">
      <div>
        <img [src]="detailsCat.image" class="w-full h-[400px]" [alt]="detailsCat.name">
        <figcaption class="py-5">
          <h2 class="text-3xl font-semibold text-center">{{detailsCat.name}}</h2>
        </figcaption>
      </div>
    </figure>
  </section>
}

