<section class="container  py-5  max-w-screen-xl">
  <form class="w-3/4 mx-auto" [formGroup]="shippingAddress" (submit)="orderSubmit()">
    <div class="relative z-0 w-full mb-5 group">
      <textarea formControlName="details" name="floating_email" id="floating_email"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=""></textarea>
      <label for="floating_email"
        class="peer-focus:font-medium absolute capitalize text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">details</label>
      @if(shippingAddress.get("details")?.errors && (shippingAddress.get("details")?.touched ||
      shippingAddress.get("details")?.dirty)) {
      <div class="bg-red-200 mt-2 rounded-lg p-2">
        @if(shippingAddress.get("details")?.getError("required")) {
        <p>details required</p>
        }
      </div>
      }
    </div>
    <div class="relative z-0 w-full mb-5 group">
      <input formControlName="phone" type="tel" name="floating_password" id="floating_password"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder="" />
      <label for="floating_password"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 capitalize">phone</label>
      @if(shippingAddress.get("phone")?.errors && (shippingAddress.get("phone")?.touched ||
      shippingAddress.get("phone")?.dirty)) {
      <div class="bg-red-200 mt-2 rounded-lg p-2">
        @if(shippingAddress.get("phone")?.getError("required")) {
        <p>phone number required</p>
        }@else if (shippingAddress.get("phone")?.getError("pattern")) {
        <p>phone number should be 01234567895</p>
        }
      </div>
      }
    </div>
    <div class="relative z-0 w-full mb-5 group">
      <input formControlName="city" type="text" name="repeat_password" id="floating_repeat_password"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder="" />
      <label for="floating_repeat_password"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 capitalize">city</label>

      @if(shippingAddress.get("city")?.errors && (shippingAddress.get("city")?.touched ||
      shippingAddress.get("city")?.dirty)) {
      <div class="bg-red-200 mt-2 rounded-lg p-2">
        @if(shippingAddress.get("city")?.getError("required")) {
          <p>city name required</p>
          }@else if (shippingAddress.get("city")?.getError("pattern")) {
            <p>city name should be more than 4 caracters</p>
            }
      </div>
      }
    </div>
    <button type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
  </form>

</section>
